header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #E7E7EF;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoIcon {
    width: 54px;
    height: 54px;
    background: linear-gradient(135deg, #827CFF, #4E8BFF);    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoText {
    font-size: 20px;
}

.logoIcon img {
    width: 22px;
    height: 22px;
    filter: brightness(0) invert(1); 
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 56px;
  height: 56px;
  
  background-color: #ffffff;
  border: 2px solid #eef0f3; 
  border-radius: 20px; 
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
}

.navButton:hover {
  background-color: #f7f9fa;
}

.navButton img {
  width: 24px;
  height: 24px;
  display: block;
}

.avatarButton{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 54px;
  height: 54px;
  
  background-color: #635BFF;
  border: 2px solid #eef0f3; 
  border-radius: 100px; 
  cursor: pointer;
  padding: 0;
}

.avatarButton span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}